{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3>About AutoCompy</h3><br>
            <p class='text-muted'> It an application that connects with different sources and compare datasets based
                on same schema and generates reports with compared, mismatched, missing, additional records details.

        <ul class="list-group">
                <li class="list-group-item list-group-item-light">Open Source</li>
                <li class="list-group-item list-group-item-light">Secure</li>
                <li class="list-group-item list-group-item-light">Build on Python</li>
                <li class="list-group-item list-group-item-light">For Additional Contact - <a href="scaninfoaskme@gmail.com">
                    scaninfoaskme@gmail.com</a></li>
                <li class="list-group-item list-group-item-light">Source Code - <a href="https://github.com/rohitrsp898/AutoCompy">AutoCompy</a></li>
              </ul>
            </p>
    </div>

{% endblock content %}
